.button {
    -fx-font-weight: bold;
}
.default-color0.chart-bar {
-fx-bar-fill: #55A96E;
}

.default-color1.chart-bar {
-fx-bar-fill: #D74B32;
}
.default-color2.chart-bar {
-fx-bar-fill: #55507D;
}

.data0.chart-pie { -fx-pie-color: #55A96E; }
.data1.chart-pie { -fx-pie-color: #D74B32; }
.data2.chart-pie { -fx-pie-color: #55507D; }