.button {
    -fx-font-weight: bold;
}
.default-color0.chart-bar {
-fx-bar-fill: #1da1f2;
}

.default-color1.chart-bar {
-fx-bar-fill: #14171a;
}
.default-color2.chart-bar {
-fx-bar-fill: #657786;
}

.data0.chart-pie { -fx-pie-color: #1da1f2; }
.data1.chart-pie { -fx-pie-color: #14171a; }
.data2.chart-pie { -fx-pie-color: #657786; }